@font-face {
    font-family: 'Ma Shan Zheng';
    src: url('../fonts/mashanzheng-regular-webfont.woff2') format('woff2'),
         url('../fonts/mashanzheng-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/ptsanscaption-regular-webfont.woff2') format('woff2'),
         url('../fonts/ptsanscaption-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sniglet';
    src: url('../fonts/sniglet-regular-webfont.woff2') format('woff2'),
         url('../fonts/sniglet-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.button {
  border-radius: 4px;
  background-color: #262F34;
  border: none;
  color: #F35A4A;
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5%;
  float: right;
}